@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

.navbar-light button.navbar-toggler {
  color: white;
  border-color: white;
}

.navbar i {
  font-size: 3rem;
  color: white;
}

.navbar .nav-item a.nav-link {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-left: 3rem;
  color: white;
  letter-spacing: 0.5rem;
}

.navbar .nav-item a.nav-link:hover {
  color: white;
  border-bottom: 1px solid white;
}

.navbar .nav-item a.nav-link:focus {
  color: white;
}

.carousel-item {
  position: relative;
  width: 100%;
  height: 100vh;
}

.carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.carousel-item::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.418);
}

.carousel-item .carousel-caption {
  position: absolute;
  top: 50%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: left;
  z-index: 999;
  padding-top: 12.25rem;
  bottom: -3.75rem;
}

.carousel-item .carousel-caption h5 {
  position: relative;
  font-size: 6rem;
  font-weight: 300;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: text 1.5s ease-in forwards;
          animation: text 1.5s ease-in forwards;
  opacity: 0;
  letter-spacing: 0.2rem;
}

@-webkit-keyframes text {
  100% {
    top: 0px;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes text {
  100% {
    top: 0px;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.carousel-item .carousel-caption p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-size: 200;
  text-transform: capitalize;
  -webkit-animation: text 1.5s ease-in forwards;
          animation: text 1.5s ease-in forwards;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  letter-spacing: 0.2rem;
}

.carousel-item .carousel-caption .sbtn {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0.3em 0.8em;
  color: white;
  letter-spacing: 0.2rem;
  border-radius: 0.5rem;
  border: 1px solid white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: text 1.5s ease-in forwards;
          animation: text 1.5s ease-in forwards;
  opacity: 0;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.carousel-item .carousel-caption .sbtn:hover {
  letter-spacing: 0.5rem;
}

.carousel-item .carousel-caption #t1 {
  top: -50px;
}

.carousel-item .carousel-caption #p1, .carousel-item .carousel-caption #t3 {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

.carousel-item .carousel-caption #p2 {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.carousel-item .carousel-caption #p3 {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

.card-content {
  padding: 5rem 0;
}

.card-content .logo-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-content .logo-btn i {
  font-size: 5rem;
  margin: 0 2rem 2rem 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-content .logo-btn #lg1:hover {
  color: #5e5e5e;
}

.card-content .logo-btn #lg2:hover {
  color: #1c1c88;
}

.card-content .logo-btn #lg3:hover {
  color: #14aa14;
}

.card-content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
  border-color: white;
  outline: white;
}

.card-content .container .card {
  position: relative;
  width: 80%;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem 0;
  background: white;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-content .container .card:hover .img-box {
  top: -15rem;
}

.card-content .container .card:hover .img-con {
  opacity: 1;
}

.card-content .container .card .img-box {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 70%;
  min-height: 30rem;
  position: relative;
  top: -5rem;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 99;
}

.card-content .container .card .img-box img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.card-content .container .card .img-con {
  position: absolute;
  bottom: 15%;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.card-content .container .card .img-con a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0.3em 0.8em;
  color: white;
  letter-spacing: 0.2rem;
  border-radius: 0.5rem;
  border: 1px solid white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-width: 2px;
  color: white;
  background: #0a7dca;
}

.card-content .container .card .img-con a:hover {
  letter-spacing: 0.5rem;
}

.card-content .container .card .img-con h2 {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 400;
  margin-top: 0.5rem;
}
/*# sourceMappingURL=file.css.map */